<h1><%=@branch.branch_name%></h1>
 <p><%=@branch.address%></p>
 <p><%=@branch.phone_number%></p>
 <p><a href="/branch/<%=@branch.id%>/edit">Edit Branch</a></p>
 <p><a href="/branch/index">Back to Branch Index</a></p>